*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
*.class
local.properties
/.gradle/
/builds/
/app/build/
/common/build/
/core-inference/build/
/core-capture/build/
/core-overlay/build/
/core-model/build/
/core-logger/build/
gradle-temp/
*.log

# Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian-git-data
.smart-connections/
.trash/
Thumbs.db
desktop.ini
